$background-light: #F4F4F4;
$background-dark: #333;
$footer-back-light: #EFEFEF;
$footer-back-dark: #2F2F2F;
$font-inter: 'Inter', 'Arial', sans-serif;
$text-color-main: #151515;
$text-color-seconadary: #222;
$text-color-tertiary: #fff;
