.header {
  max-width: 1440px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  background: $background-light;
  z-index: 1;

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 34px;
    list-style-type: none;
    margin: 0;
    padding: 28px 120px 28px 0;
  }

  &__nav-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: $text-color-main;
  }

  &__nav-link:hover {
    transition: opacity linear 0.2s;
    opacity: 0.75;
    cursor: pointer;
  }
}