.training {
  display: flex;
  flex-direction: row;
  gap: 160px;
  padding: 90px 0 120px 0;

  &__text-column {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: $text-color-main;
    padding-bottom: 50px;
    margin: 0;
  }

  &__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $text-color-seconadary;
    opacity: 0.7;
    padding-bottom: 182px;
    margin: 0;
    width: 460px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $text-color-main;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

  &__link:hover {
    transition: opacity linear 0.2s;
    opacity: 0.75;
    cursor: pointer;
  }

  &__image {
    max-width: 580px;
    width: 100%;
    object-fit: contain;
  }
}